<h1><%= @user.name %>'s Profile Page</h1>
<%= @user.age %> Years Old

<h1> Skills </h1>
<ul>
<% @skills.each do |skill| %>
  <li><h2> <%= skill %> </h2></li>
<% end %>
</ul>

<p><a href="/users/<%= @user.id %>/edit">Edit User</a>

<form action="/users/<%= @user.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE">

</form>
</p>